In [1]:
import pandas as pd
friend_dict_list = [
    {'name': 'John', 'age' : 15, 'job' : 'student'},
    {'name': 'Jenny', 'age' : 30, 'job' : 'developer'},
    {'name': 'Nate', 'age' : 30, 'job' : 'teacher'}
]
df = pd.DataFrame(friend_dict_list, columns = ['name', 'age', 'job'])
df

    name  age        job
0   John   15    student
1  Jenny   30  developer
2   Nate   30    teacher

In [2]:
tmp = [10,20,30]
df['salary'] = tmp
df

    name  age        job  salary
0   John   15    student      10
1  Jenny   30  developer      20
2   Nate   30    teacher      30